<% if (locals.pageType === "home") { %>
<p class="page-header">Hot picks</p>
<div class="view-container home">
  <% dataArray.filter(item => item.bestseller || item.newrelease).sort(() =>
  Math.random() - 0.5).slice(0, 5).forEach(item => { %>
  <div class="item-container home">
    <a href="/shop/<%= item.category %>/<%= item.slug %>">
      <div class="item-frame">
        <% if (item.bestseller || item.newrelease) { %>
        <div class="badge-container">
          <% if (item.newrelease) { %>
          <span class="badge new">New</span>
          <% } %> <% if (item.bestseller) { %>
          <span class="badge bestseller">Bestseller</span>
          <% } %>
        </div>
        <% } %>
        <img
          class="image-product"
          src="<%= item.image %>"
          alt="<%= item.name %>"
          width="200"
        />
        <img
          class="icon plus"
          src="/images/icons/plus.svg"
          alt="plus icon"
          width="32"
        />
      </div>
      <h3 class="text-category"><%= item.category %></h3>
      <h3 class="text-name"><%= item.name %></h3>
      <h3 class="text-price"><%= item.price %> kr</h3>
    </a>
  </div>
  <% }) %>
</div>
<% } else if (locals.pageType === "shop") { %>
<p class="page-header">All menu</p>
<div class="view-container">
  <% dataArray.forEach(item => { %>
  <div class="item-container">
    <a href="/shop/<%= item.category %>/<%= item.slug %>">
      <div class="item-frame">
        <% if (item.bestseller || item.newrelease) { %>
        <div class="badge-container">
          <% if (item.newrelease) { %>
          <span class="badge new">New</span>
          <% } %> <% if (item.bestseller) { %>
          <span class="badge bestseller">Bestseller</span>
          <% } %>
        </div>
        <% } %>
        <img
          class="image-product"
          src="<%= item.image %>"
          alt="<%= item.name %>"
          width="200"
        />
        <img
          class="icon plus"
          src="/images/icons/plus.svg"
          alt="plus icon"
          width="32"
        />
      </div>
      <h3 class="text-category"><%= item.category %></h3>
      <h3 class="text-name"><%= item.name %></h3>
      <h3 class="text-price"><%= item.price %> kr</h3>
    </a>
  </div>
  <% }) %>
</div>
<% } else if (locals.pageType === "category") { %>
<p class="page-header"><%= headerTitle %></p>
<div class="view-container">
  <% dataArray.forEach(item => { %>
  <div class="item-container">
    <a href="/shop/<%= item.category%>/<%= item.slug %>">
      <div class="item-frame">
        <% if (item.bestseller || item.newrelease) { %>
        <div class="badge-container">
          <% if (item.newrelease) { %>
          <span class="badge new">New</span>
          <% } %> <% if (item.bestseller) { %>
          <span class="badge bestseller">Bestseller</span>
          <% } %>
        </div>
        <% } %>
        <img
          class="image-product"
          src="<%= item.image %>"
          alt="<%= item.name %>"
          width="200"
        />
        <img
          class="icon plus"
          src="/images/icons/plus.svg"
          alt="plus icon"
          width="32"
        />
      </div>
      <h3 class="text-category"><%= item.category %></h3>
      <h3 class="text-name"><%= item.name %></h3>
      <h3 class="text-price"><%= item.price %> kr</h3>
    </a>
  </div>
  <% }) %>
</div>
<% } else if (locals.pageType === "product") { %>
<div class="view-container product">
  <div class="item-container product">
    <div class="image-frame">
      <img
        class="image-product"
        src="<%= image %>"
        alt="<%= dataArray.name %>"
        width="200"
      />
    </div>
    <h2><%= dataArray.name %></h2>
    <p><%= dataArray.description %></p>
  </div>
</div>
<% } %>
