<% if (locals.pageType === "category") { %>
  <div>
    <% dataArray.forEach(item => { %>
      <div>
        <a href="/shop/<%= headerTitle%>/<%= item.slug %>">
          <%= item.name %>
        </a>
      </div>
    <% }) %>
  </div>
<% } else if (locals.pageType === "product") { %>
  <div>
    <h2><%= dataArray.name %></h2>
    <img src="<%= dataArray.image %>" alt="<%= dataArray.name %>">
    <p><%= dataArray.description %></p>
  </div>
<% } %>
