<% if (locals.pageType === "shop") { %>
<div class="view-container">
  <% dataArray.forEach(item => { %>
  <div class="item-container">
    <a href="/shop/<%= item.category %>/<%= item.slug %>">
      <div class="image-frame">
        <img
          class="image-product"
          src="<%= item.image %>"
          alt="<%= item.name %>"
          width="200"
        />
      </div>
      <h3 class="text-category"><%= item.category %></h3>
      <h3 class="text-name"><%= item.name %></h3>
      <h3 class="text-price"><%= item.price %> kr</h3>
    </a>
  </div>
  <% }) %>
</div>
<% } else if (locals.pageType === "category") { %>
<div class="view-container">
  <% dataArray.forEach(item => { %>
  <div class="item-container">
    <a href="/shop/<%= headerTitle%>/<%= item.slug %>">
      <div class="image-frame">
        <img
          class="image-product"
          src="<%= item.image %>"
          alt="<%= item.name %>"
          width="200"
        />
      </div>
      <h3 class="text-category"><%= item.category %></h3>
      <h3 class="text-name"><%= item.name %></h3>
      <h3 class="text-price"><%= item.price %> kr</h3>
    </a>
  </div>
  <% }) %>
</div>
<% } else if (locals.pageType === "product") { %>
<div class="view-container product">
  <div class="item-container product">
    <div class="image-frame">
      <img
        class="image-product"
        src="<%= image %>"
        alt="<%= dataArray.name %>"
        width="200"
      />
    </div>
    <h2><%= dataArray.name %></h2>
    <p><%= dataArray.description %></p>
  </div>
</div>
<% } %>
