<% if (locals.pageType === "shop") { %>
<div class="view-container">
  <% dataArray.forEach(item => { %>
  <div class="item-container">
    <a href="/shop/<%= item.category %>/<%= item.slug %>">
      <div class="image-frame">
        <img class="image-product" src="<%= item.image %>" alt="<%= item.name %>" width="200" />
      </div>

      <h3><%= item.name %></h3>
      <p><%= item.description %></p>
    </a>
  </div>
  <% }) %>
</div>
<% } else if (locals.pageType === "category") { %>
<div class="view-container">
  <% dataArray.forEach(item => { %>
  <div class="item-container">
    <a href="/shop/<%= headerTitle%>/<%= item.slug %>">
      <div class="image-frame">
        <img class="image-product" src="<%= item.image %>" alt="<%= item.name %>" width="200" />
      </div>

      <h3><%= item.name %></h3>
      <p><%= item.description %></p>
    </a>
  </div>
  <% }) %>
</div>
<% } else if (locals.pageType === "product") { %>
<div>
  <h2><%= dataArray.name %></h2>
  <img src="<%= image %>" alt="<%= dataArray.name %>" width="200" />
  <p><%= dataArray.description %></p>
</div>
<% } %>
