<% if (locals.pageType === "home") { %>
<p class="page-header">Hot picks</p>
<div class="view-container home">
  <% dataArray.filter(item => item.bestseller || item.newrelease).sort(() =>
  Math.random() - 0.5).slice(0, 5).forEach(item => { %>
  <div class="item-container home">
    <a href="/shop/<%= item.category %>/<%= item.slug %>">
      <div class="item-frame">
        <% if (item.bestseller || item.newrelease) { %>
        <div class="badge-container">
          <% if (item.newrelease) { %>
          <span class="badge new">New</span>
          <% } %> <% if (item.bestseller) { %>
          <span class="badge bestseller">Bestseller</span>
          <% } %>
        </div>
        <% } %>
        <img
          class="item-image-product"
          src="<%= item.image %>"
          alt="<%= item.name %>"
          width="200"
        />
        <img
          class="icon plus"
          src="/images/icons/plus.svg"
          alt="plus icon"
          width="32"
        />
      </div>
      <h3 class="text-category"><%= item.category %></h3>
      <h3 class="text-name"><%= item.name %></h3>
      <h3 class="text-price"><%= item.price %> kr</h3>
    </a>
  </div>
  <% }) %>
</div>
<% } else if (locals.pageType === "shop") { %>
<p class="page-header">All menu</p>
<div class="view-container">
  <% dataArray.forEach(item => { %>
  <div class="item-container">
    <a href="/shop/<%= item.category %>/<%= item.slug %>">
      <div class="item-frame">
        <% if (item.bestseller || item.newrelease) { %>
        <div class="badge-container">
          <% if (item.newrelease) { %>
          <span class="badge new">New</span>
          <% } %> <% if (item.bestseller) { %>
          <span class="badge bestseller">Bestseller</span>
          <% } %>
        </div>
        <% } %>
        <img
          class="item-image-product"
          src="<%= item.image %>"
          alt="<%= item.name %>"
          width="200"
        />
        <img
          class="icon plus"
          src="/images/icons/plus.svg"
          alt="plus icon"
          width="32"
        />
      </div>
      <h3 class="text-category"><%= item.category %></h3>
      <h3 class="text-name"><%= item.name %></h3>
      <h3 class="text-price"><%= item.price %> kr</h3>
    </a>
  </div>
  <% }) %>
</div>
<% } else if (locals.pageType === "category") { %>
<p class="page-header"><%= headerTitle %></p>
<div class="view-container category">
  <% dataArray.forEach(item => { %>
  <div class="item-container category">
    <a href="/shop/<%= item.category%>/<%= item.slug %>">
      <div class="item-frame">
        <% if (item.bestseller || item.newrelease) { %>
        <div class="badge-container">
          <% if (item.newrelease) { %>
          <span class="badge new">New</span>
          <% } %> <% if (item.bestseller) { %>
          <span class="badge bestseller">Bestseller</span>
          <% } %>
        </div>
        <% } %>
        <img
          class="item-image-product"
          src="<%= item.image %>"
          alt="<%= item.name %>"
          width="200"
        />
        <img
          class="icon plus add-to-cart-button"
          src="/images/icons/plus.svg"
          alt="plus icon"
          width="32"
        />
      </div>
      <h3 class="text-category"><%= item.category %></h3>
      <h3 class="text-name"><%= item.name %></h3>
      <h3 class="text-price"><%= item.price %> kr</h3>
    </a>
  </div>
  <% }) %>
</div>
<% } else if (locals.pageType === "product") { %>
<div class="view-container product">
  <div class="item-container product">
    <a href="/shop/<%= dataArray.category%>" class="back-button">
      <img src="/images/icons/back.png" alt="" width="12" />&nbsp;&nbsp;Back</a
    >
    <div class="image-frame">
      <img
        class="item-image-product product"
        src="<%= dataArray.image %>"
        alt="<%= dataArray.name %>"
        width="200"
      />
    </div>
    <div class="item-detail">
      <a href="/shop/<%= dataArray.category%>" class="text-category"
        ><%= dataArray.category %></a
      >
      <h1 class="text-name-product"><%= dataArray.name %></h1>
      <p class="text-description"><%= dataArray.description %></p>
      <p class="text-description">Price: <%= dataArray.price %> kr</p>

      <% if (dataArray.dietary.vegan || dataArray.dietary.vegetarian ||
      dataArray.dietary.keto || dataArray.dietary["high-protein"] ||
      dataArray.dietary.spicy || dataArray.dietary["dairy-free"] ) { %>
      <div class="label-container">
        <% if (dataArray.dietary.vegan) { %>
        <span class="label">Vegan</span>
        <% } %> <% if (dataArray.dietary.vegetarian) { %>
        <span class="label">Vegetarian</span>
        <% } %> <% if (dataArray.dietary.keto) { %>
        <span class="label">Keto</span>
        <% } %> <% if (dataArray.dietary["high-protein"]) { %>
        <span class="label">High protein</span>
        <% } %> <% if (dataArray.dietary.spicy) { %>
        <span class="label">Spicy</span>
        <% } %> <% if (dataArray.dietary["dairy-free"] ) { %>
        <span class="label">Dairy-free</span>
        <% } %>
      </div>
      <% } %>
      <div class="accordion-container">
        <details>
          <summary>Nutrition</summary>
          <p>kCal: <%= dataArray.nutrition.kCal %></p>
          <p>Fat: <%= dataArray.nutrition.fat %></p>
          <p>Protein: <%= dataArray.nutrition.protein %></p>
          <p>Carbs: <%= dataArray.nutrition.carbs %></p>
        </details>
        <details>
          <summary>Do you offer free shipping?</summary>
          <p>Yes, we offer free shipping on orders over 299 kr.</p>
        </details>
        <details>
          <summary>How can I contact support?</summary>
          <p>
            You can reach us via email at
            <a href="mailto:support@thecrispykale.com"
              >support@thecrispykale.com</a
            >
          </p>
        </details>
      </div>
    </div>
  </div>
</div>
<% } else if (locals.pageType === "location") { %>
<div class="view-container location">
  <h1>hi</h1>
</div>
<% } %>
