<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/mainMenu.ejs') %> 
    <%- include('../partials/cart.ejs') %> 
    <%- include('../partials/mobileMenu.ejs') %>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
